a {
  text-decoration: none;
  color: #cc84ea;
}

a:hover {
  color: #c065e6;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

[data-bs-theme="dark"] {
  code:not(.hljs) {
    padding: 0 0.2em;
    border-radius: 0.3em;
    background-color: #2E3440;
    color: #88c0d0;
  }

  code.hljs {
    border-radius: 0.5em;
  }

  .line-highlight {
    background-color: #00cfff29 !important;
  }
}

/* Landing */

.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
}

.landing-logo {
  margin: 0;
  width: 128px;
  height: 128px;
  opacity: 0;
  animation-name: fade-scale-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.landing-title {
  font-size: 2.5em;
  opacity: 0;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.2em;
}

.landing-text > * {
  margin: 0;
}

.cascade-in > * {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

.cascade-in :nth-child(1) { animation-delay: 1.5s; }
.cascade-in :nth-child(2) { animation-delay: 1.75s; }
.cascade-in :nth-child(3) { animation-delay: 2.0s; }
.cascade-in :nth-child(4) { animation-delay: 2.25s; }

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
  }
}

/* 404 */

.status-404 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 130px;
  margin-bottom: -1rem;
}

.status-404 img {
  width: 128px;
  height: 128px;
}

.status-404 > * {
  opacity: 0;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.status-404 :nth-child(1) {
  animation-name: fade-slide-in-left;
}

.status-404 :nth-child(2) {
  animation-name: fade-in;
}

.status-404 :nth-child(3) {
  animation-name: fade-slide-in-right;
}

.not-found {
  font-size: 1.75rem;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fade-slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
  }
}