html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #111;
  color: #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#skull {
  animation-name: fade-scale-in;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  font-size: 1.2em;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#repo-name {
  color: #c9c3d9;
  font-size: 2.5rem;
}

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}